body {
  color: #662257;
  background-color: #38a681e1;
  font-family: 'Times New Roman', Times, serif;
}

.subtitle { color: rgba(31, 202, 77, 0.654); }
#page-title { font-size: 48px; color: rgba(218, 85, 215, 0.836); }

.subtitle { 
  color: rgb(129, 158, 47);
  border: 2px solid rgba(116, 160, 197, 0.399);
  padding: 20px; 
  margin: auto;
  width: 300px;
}




#page-title { font-size: 48px; color: rgb(123, 127, 10); }
#my-name {
  color: rgb(181, 132, 41);
  font-size: 80px;
}

.subtitle {
  border: 2px solid rgb(215, 9, 9);
  padding: 20px;
}

body {
  color: #2B2620;
  background-color: #26f29d;
  font-family: 'Times New Roman', Times, serif;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.favorites-list {
  margin-bottom: 40px;
}
 
#my-table {
  margin-bottom: 40px;
}

#profile-image {
  padding: 15px;
}
 
#my-table {
  padding: 10px;
  border: 2px solid #8A6D3B;
  margin-bottom: 40px;
}

/* Option A - center the box itself */
#photo-caption {
  width: 400px;
  margin: 0 auto;
}
 
/* Option B - center the text inside the box */
#page-heading {
  text-align: center;
}

