body {
  color: #bb0a94;
  background-color: #0eba81e1;
  font-family: 'Times New Roman', Times, serif;
}

.subtitle { color: rgba(10, 182, 56, 0.654); }
#page-title { font-size: 48px; color: rgba(199, 41, 196, 0.836); }

.subtitle { 
  color: rgb(32, 15, 218);
  border: 2px solid rgba(114, 21, 207, 0.399);
  padding: 20px; 
  margin: auto;
  width: 300px;
}




#page-title { font-size: 48px; color: rgb(199, 205, 10); }
#my-name {
  color: rgb(84, 211, 21);
  font-size: 80px;
}

.subtitle {
  border: 2px solid rgb(215, 9, 9);
  padding: 20px;
}

body {
  color: #130f92;
  background-color: #04120c;
  font-family: 'Times New Roman', Times, serif;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.favorites-list {
  margin-bottom: 40px;
}
 
#my-table {
  margin-bottom: 40px;
}

#profile-image {
  padding: 15px;
}
 
#my-table {
  padding: 10px;
  border: 2px solid #452782;
  margin-bottom: 40px;
}

/* Option A - center the box itself */
#photo-caption {
  width: 400px;
  margin: 0 auto;
}
 
/* Option B - center the text inside the box */
#page-heading {
  text-align: center;
}

