body {
  color: #662257;
  background-color: #289fcee1;
  font-family: 'Times New Roman', Times, serif;
}

.subtitle { color: rgba(31, 202, 77, 0.654); }
#page-title { font-size: 48px; color: rgba(218, 85, 215, 0.836); }




#page-title { font-size: 48px; color: navy; }
#my-name {
  color: orange;
  font-size: 80px;
}